doctype html5
html
  head
    title Ejercicio con Pug
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width")
    link(type="text/css" rel="stylesheet" href="assets/css/materialize.min.css" media="screen,projection")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js")
    link(rel="stylesheet" href="../assets/css/main.css")

  body
    div.row
      div(class="col 12")



    nav

      div.nav-blanco
        a(href="#" class="brand-logo")
          img(src="../images/logo.png")
        ul(class="right-align")
          li HOME
          li PAGES
          li BLOG
          li PORTFOLIO
          li SHORTCODES
          li
            i(class="material-icons") search

        div(class="row")
          div(class="col s12")

              img(src="../images/coming-soon-bg.png")

  div.row
    div(class="col s12")
      div(class="col s6")
      h1 We are the Creative
      p Expetenda tincidunt in sed, ex partem placerat sea, porro commodo ex eam. His putant aeterno interesset at. Usu ea mundi tincidunt, omnium virtute aliquando ius ex. Ea aperiri sententiae duo. Usu nullam dolorum quaestio ei, sit vidit facilisis ea

      div(class="col s6")
      img(src="../images/home/slider/hill.jpg")





  div.row
    div(class="col 12 footers")
      img(src="../images/home/under.png")
      img(src="../images/home/footer.png")








  script(src="assets/js/main.js")
  script(src="assets/js/jquery-3.2.1.min.js")
