doctype html5
html
  head
    title Ejercicio con Pug
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width")
    link(type="text/css" rel="stylesheet" href="assets/css/materialize.min.css" media="screen,projection")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js")
    link(rel="stylesheet" href="../assets/css/main.css")

  body
    div.row
      div(class="col 12")



    nav

      div.nav-blanco
        a(href="#" class="brand-logo")
          img(src="../images/logo.png")
        ul(class="right-align")
          li HOME
          li PAGES
          li BLOG
          li PORTFOLIO
          li SHORTCODES
          li
            i(class="material-icons") search

        div(class="row")
          div(class="col s12")

              img(src="../images/coming-soon-bg.png")

  div.row
    div(class="col s12")
      div(class="col s3")
        img(src="../images/blog/masonary/1.jpg")
        p.color-azul Creative
        h5 Advanced Bussinescards design
        p.color-azul Posted my micron News
        p Vis id minim dicant sensibus. Pri aliquip conclusionemque ad, ad malis evertitur torquatos his. Has ei solum harum reprimique, id illum saperet tractatos his
        p.color-azul View more
        p.color-azul ❤ 32 Love ❤ 3 Comments
        img(src="../images/blog/masonary/2.jpg")
        p.color-azul Creative
        h5 Advanced Bussinescards design
        p.color-azul Posted my micron News
        p Vis id minim dicant sensibus. Pri aliquip conclusionemque ad, ad malis evertitur torquatos his. Has ei solum harum reprimique, id illum saperet tractatos his
        p.color-azul View more
        p.color-azul ❤ 32 Love ❤ 3 Comments
        img(src="../images/blog/masonary/9.jpg")
        p.color-azul Creative
        h5 Advanced Bussinescards design
        p.color-azul Posted my micron News
        p Vis id minim dicant sensibus. Pri aliquip conclusionemque ad, ad malis evertitur torquatos his. Has ei solum harum reprimique, id illum saperet tractatos his
        p.color-azul View more
        p.color-azul ❤ 32 Love ❤ 3 Comments

      div(class="col s3")
        img(src="../images/blog/masonary/3.jpg")
        p.color-azul Creative
        h5 Advanced Bussinescards design
        p.color-azul Posted my micron News
        p Vis id minim dicant sensibus. Pri aliquip conclusionemque ad, ad malis evertitur torquatos his. Has ei solum harum reprimique, id illum saperet tractatos his
        p.color-azul View more
        p.color-azul ❤ 32 Love ❤ 3 Comments
        img(src="../images/blog/masonary/2.jpg")
        p.color-azul Creative
        h5 Advanced Bussinescards design
        p.color-azul Posted my micron News
        p Vis id minim dicant sensibus. Pri aliquip conclusionemque ad, ad malis evertitur torquatos his. Has ei solum harum reprimique, id illum saperet tractatos his
        p.color-azul View more
        p.color-azul ❤ 32 Love ❤ 3 Comments
        img(src="../images/blog/masonary/2.jpg")
        p.color-azul Creative
        h5 Advanced Bussinescards design
        p.color-azul Posted my micron News
        p Vis id minim dicant sensibus. Pri aliquip conclusionemque ad, ad malis evertitur torquatos his. Has ei solum harum reprimique, id illum saperet tractatos his
        p.color-azul View more
        p.color-azul ❤ 32 Love ❤ 3 Comments
      div(class="col s3")
        img(src="../images/blog/masonary/6.jpg")
        h5 Advanced Bussinescards design
        p.color-azul Posted my micron News
        p Vis id minim dicant sensibus. Pri aliquip conclusionemque ad, ad malis evertitur torquatos his. Has ei solum harum reprimique, id illum saperet tractatos his
        p.color-azul View more
        p.color-azul ❤ 32 Love ❤ 3 Comments
        img(src="../images/blog/masonary/10.jpg")
        h5 Advanced Bussinescards design
        p.color-azul Posted my micron News
        p Vis id minim dicant sensibus. Pri aliquip conclusionemque ad, ad malis evertitur torquatos his. Has ei solum harum reprimique, id illum saperet tractatos his
        p.color-azul View more
        p.color-azul ❤ 32 Love ❤ 3 Comments
      div(class="col s3")
        img(src="../images/blog/masonary/8.jpg")
        p.color-azul Posted my micron News
        p Vis id minim dicant sensibus. Pri aliquip conclusionemque ad, ad malis evertitur torquatos his. Has ei solum harum reprimique, id illum saperet tractatos his
        p.color-azul View more
        p.color-azul ❤ 32 Love ❤ 3 Comments
        img(src="../images/blog/masonary/3.jpg")
        h5 Advanced Bussinescards design
        p.color-azul Posted my micron News
        p Vis id minim dicant sensibus. Pri aliquip conclusionemque ad, ad malis evertitur torquatos his. Has ei solum harum reprimique, id illum saperet tractatos his
        p.color-azul View more
        p.color-azul ❤ 32 Love ❤ 3 Comments
        img(src="../images/blog/masonary/7.jpg")
        h5 Advanced Bussinescards design
        p.color-azul Posted my micron News
        p Vis id minim dicant sensibus. Pri aliquip conclusionemque ad, ad malis evertitur torquatos his. Has ei solum harum reprimique, id illum saperet tractatos his
        p.color-azul View more
        p.color-azul ❤ 32 Love ❤ 3 Comments

  div.row
    div(class="col 12 footers")
      img(src="../images/home/under.png")
      img(src="../images/home/footer.png")








  script(src="assets/js/main.js")
  script(src="assets/js/jquery-3.2.1.min.js")
